.a_tag{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: none;
    outline: none;
    text-decoration: none;
    color: #3d4152;
    font-size: 17px;
    font-weight: 600;
    font-family: arial,Helvetica Neue,sans-serif;
    line-height: 1.4;
    letter-spacing: 0.4px;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 49px;
    height:19px;
    align-items: center;
    padding-left: 5px;
   
}
div.a_tag :hover{
  color: #ffa700;
}
path :hover{
  color: #ffa700;
}

._1GTCc{
   
    position: relative;
    stroke: currentColor;
    fill: #3d4152;
    stroke-width: 0;
    font-size: px;
    width: 21px;
    height:21px;


}
.restaurants{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 230px;
  
  
}

.second {
    width: 1150px;
    margin-top: 13px;
    margin-left: 3px;
    border-radius: 10px;
    white-space: nowrap;
    background-color:white;
  }

  
  .restaurant { 
      margin: 17px;
      border: 1px solid #ccc;
      height: 95px;
      width: 228px;
      box-sizing: border-box;
      border-radius: 10px;
    
  }
  .name{
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
  
  }
  .b_1{
    height:1300px;
  }
  .s_a{
    margin-bottom: 0px;
    
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
